body {
    width: 80%;
    margin: 0 auto;
}

section {
    display: flex;
    margin: 0 auto;

}

span {
    color: orangered;
}

a {
    text-decoration: none;
}

.order {
    color: white;
    background-color: orangered;
    background-image: linear-gradient(orange purple);
    border: orangered solid;
    border-radius: 25px;
    border-width: 5%;
    padding: 25px;
    font-weight: 700;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 50%;
    text-decoration: none;
}

.portions {
    width: 50%;
    align-items: center;
    border: 1px solid;
    border-color: chocolate;
    display: block;

}

#img {
    justify-content: center;
    align-items: center;
    margin-left: 200px;

}

#left {
    margin-left: 25px;
    font-size: 2.5em;
}

li:nth-child(2n) {
    color: navy;
    background-color: hotpink;
    padding: 10px;
    margin 20px 70px 20px 20px;
}

li:nth-child(2n+1) {
    color: black;
    background-color: orchid;
    padding: 10px;
    margin 20px 70px 20px 20px;
}

.listed {
    font-size: 2.5em;
    margin-top: 30%;
}

#Contact-Me {
    color: white;
    background-color: orangered;
    background-image: linear-gradient(orange purple);
    border: orangered solid;
    border-radius: 25px;
    border-width: 5%;
    padding: 25px;
    font-weight: 500;
    font-size: 2em;
    margin-left: 20%;
    margin-right: 30%;
    text-decoration: none;
    text-align: center;
}

.center {
    text-align: center;
    font-size: 2em;
    padding-top: 50px;
}



.meye {
    transform: scale(0.8);
}

.box {
    border-color: rgba(255, 255, 255, 0.909);
    border: 1px;

    padding: 2px 20px 2px 20px;
    transform: scale(0.6);
    width: 30%;
    box-shadow: azure 5px;
}

.text {
    font-size: 3em;
}

.footerl {
    text-align: left;
    margin-right: 50px;
}

.footerm {
    text-align: center;
    margin-right: 50px;
}

.footerr {
    text-align: right;
    border: 20px;
    border-color: antiquewhite;
    margin-right: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.social {
    width: 30%;
}